name:  Deploy to Cloud Run

on:
  push:
    branches:  [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
      - uses: actions/checkout@v4

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          service_account_key: ${{ secrets.GCP_SERVICE_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      - name: Configure Docker auth for Artifact Registry
        run: |
          gcloud auth configure-docker us-central1-docker.pkg.dev

      - name: Build and push Docker image
        run: |
          docker build -t us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/studyplanner-repo/studyplanner:latest .
          docker push us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/studyplanner-repo/studyplanner:latest

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy studyplanner \
            --image us-central1-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/studyplanner-repo/studyplanner:latest \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated